<style>
    .listdemoBasicUsage md-divider {
      margin-bottom: 0; 
    }
</style>

<div ng-cloak layout-gt-sm="row" layout="column">
    <div flex-gt-sm="50" flex>
        <md-content>
            <md-list flex>
                <a href="#/item/list">
                <md-list-item class="md-3-line" ng-click="null">
                    <button class="button button-border button-primary button-circle"><span class="glyphicon glyphicon-shopping-cart"></span></button>
                    <div class="md-list-item-text" layout="column">
                        <h2>상품 관리 페이지</h2>
                    </div>
                    
                </md-list-item></a>
                <md-divider ></md-divider>
                <a href="#/auction/list">
                <md-list-item class="md-3-line" ng-click="null">
                    <button class="button button-border button-primary button-circle"><span class="glyphicon glyphicon-gift"></span></button>
                    <div class="md-list-item-text" layout="column">
                        <h2>경매 관리 페이지</h2>
                    </div>
                </md-list-item></a>
                <md-divider ></md-divider>
                <a href="#/order/list">
                <md-list-item class="md-3-line" ng-click="null">
                    <button class="button button-border button-primary button-circle"><span class="glyphicon glyphicon-barcode"></span></button>
                    <div class="md-list-item-text" layout="column">
                        <h2>주문 관리 페이지</h2>
                    </div>
                </md-list-item></a>
                <md-divider ></md-divider>
                <a href="#/brand/list">
                <md-list-item class="md-3-line" ng-click="null">
                    <button class="button button-border button-primary button-circle"><span class="glyphicon glyphicon-camera"></span></button>
                    <div class="md-list-item-text" layout="column">
                        <h2>브랜드 관리 페이지</h2>
                    </div>
                </md-list-item></a>
                <md-divider ></md-divider>
                <a href="#/type/list">
                <md-list-item class="md-3-line" ng-click="null">
                    <button class="button button-border button-primary button-circle"><span class="glyphicon glyphicon-briefcase"></span></button>
                    <div class="md-list-item-text" layout="column">
                        <h2>항목 관리 페이지</h2>
                    </div>
                </md-list-item></a>
                <md-divider ></md-divider>
                <a href="#/user/list">
                <md-list-item class="md-3-line" ng-click="null">
                    <button class="button button-border button-primary button-circle"><span class="glyphicon glyphicon-user"></span></button>
                    <div class="md-list-item-text" layout="column">
                        <h2>회원 관리 페이지</h2>
                    </div>
                </md-list-item></a>
                <md-divider ></md-divider>
                <!-- <a href="#/board/list/1">
                <md-list-item class="md-3-line" ng-click="null">
                    <button class="button button-border button-primary button-circle"><span class="glyphicon glyphicon-bullhorn"></span></button>
                    <div class="md-list-item-text" layout="column">
                        <h2>고객센터 관리 페이지</h2>
                    </div>
                </md-list-item></a>
                <md-divider ></md-divider>
                <a href="#/popup/list">
                <md-list-item class="md-3-line" ng-click="null">
                    <button class="button button-border button-primary button-circle"><span class="glyphicon glyphicon-calendar"></span></button>
                    <div class="md-list-item-text" layout="column">
                        <h2>팝업 관리 페이지</h2>
                    </div>
                </md-list-item></a>
                <md-divider ></md-divider> -->
            </md-list>
        </md-content>
    </div>
</div>