<style>
    .filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

.filebox input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
</style>

<div class="container" ng-init="initAdd()">
    <div class="row">
        <!-- concept function -->
        <div class="col-md-3">
            <h3 class="right-line">Register Product</h3>
            <form role="form" ng-submit="itemAddSubmit()">
                <div class="ec-box">
                    <a href="#"><img src="assets/img/demo/e_img03.jpg" alt=""></a>
                    <div class="ec-box-footer">
                        <label for="file" class="btn btn-ar btn-success btn-sm pull-right">이미지</label> 
                        <div class="filebox">
                          <input id="file" type="file" accept="image/*">
                        </div>
                    </div>
                </div>

                <h4>Specifications</h4>
                <div class="form-group">
                    <strong>Title</strong>
                    <input type="text" class="form-control" id="title" ng-model="item.title" required>
                </div>
                <div class="form-group col-sm-6 col-xs-6">
                    <strong>Brand</strong>
                    <select ng-model="item.ItemBrandId" required>
                        <option value=""></option>
                        <option ng-repeat="brand in brandList" value="{{brand.id}}">{{brand.name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-6 col-xs-6">
                    <strong>Type</strong>
                    <select ng-model="item.ItemTypeId" required>
                        <option value=""></option>
                        <option ng-repeat="type in typeList" value="{{type.id}}">{{type.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <strong>size</strong>
                    <input type="number" min="0" class="form-control" id="size" ng-model="item.size" required>
                </div>
                <div class="form-group">
                    <strong>price</strong>
                    <input type="number" min="0" class="form-control" id="price" ng-model="item.price" required>
                </div>
                <div class="form-group">
                    <h4 class="no-margin-top">Description</h4>
                    <textarea class="form-control" ng-model="item.explain"></textarea>
                </div>
                <button type="submit" href="javascript:void(0);" class="btn btn-ar btn-block btn-success">
                    <i class="fa fa-shopping-cart"></i>Add to Item
                </button>
            </form>
        </div>


    </div>
</div>