<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="ec-filters-menu">
                <h3 class="section-title">Filters</h3>
                <div class="col-sm-12 col-xs-12">
                    <h4>Select Category</h4>
                    <ul>
                        <li><a href="javascript:void(0);" class="filter" data-filter="all">All</a></li>
                        <li><a href="javascript:void(0);" class="filter" data-filter=".category-smartphone">Smaprtphones</a></li>
                        <li><a href="javascript:void(0);" class="filter" data-filter=".category-tv">Smart TV</a></li>
                        <li><a href="javascript:void(0);" class="filter" data-filter=".category-keyboard">Keyboards</a></li>
                        <li><a href="javascript:void(0);" class="filter" data-filter=".category-graphic">Graphics Cards</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="row" id="Container">
                <div class="col-sm-4" ng-animate="'animate'}" ng-repeat="auction in auctionList | orderBy:orderFilter">
                    <div class="ec-box">
                        <div class="ec-box-header"><a href="#/item/view/{{auction.itemId}}">[{{auction.brandName}}|{{auction.typeName}}]{{auction.title}}</a></div>
                        <a href="#/item/view/{{auction.itemId}}"><img ng-src="/{{auction.photo}}" alt=""/></a>
                        <div class="ec-box-footer">
                            <span class="label label-primary"><del class="text-muted">{{auction.price | currency:"￦":0}}</del>&nbsp;{{auction.bidPrice | currency:"￦":0}}</span>
                            <a ng-click="showPrompt($event, auction)" href="javascript:void(0);" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-heart"></i> Bid</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->