<div class="container" ng-init="initList()">
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="ec-filters-menu">
                <h3 class="section-title"></h3>
                <!-- 안되면 주석처리 -->
                <div class="col-sm-6 col-xs-6">
                    <h4>Select Brand</h4>
                    <ul>
                        <li><a href="javascript:void(0);" ng-click="setBrand()" class="filter" data-filter="all" >all</a></li>
                        <li ng-repeat="brand in brandList">
                            <a href="javascript:void(0);" ng-click="setBrand(brand)" data-filter="all" >{{brand.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <h4>Select Type</h4>
                    <ul>
                        <li><a href="javascript:void(0);" ng-click="setType()" class="filter" data-filter="all" >all</a></li>
                        <li ng-repeat="type in typeList"><a href="javascript:void(0);" ng-click="setType(type)" class="filter" data-filter="all">{{type.name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="row" id="Container">
                <div class="col-sm-4" ng-animate="'animate'" ng-repeat="auction in auctionList | filter:{'itemBrandId':brandFilter,'itemTypeId':typeFilter}">
                    <div class="ec-box">
                        <div class="ec-box-header">
                        <timer end-time="auction.endSecond" class="pull-left">{{days}} Day {{hours}}:{{minutes}}:{{seconds}}</timer>
                        <a href="#/item/view/{{auction.itemId}}" class="pull-right">[{{auction.itemBrandName}}|{{auction.itemTypeName}}]{{auction.title}}</a></div>
                        <a href="#/item/view/{{auction.itemId}}"><img ng-src="/{{auction.photo}}" alt=""/ style="width:100%;"></a>
                        <div class="ec-box-footer">
                            <span class="label label-primary"><del class="text-muted">{{auction.price | currency:"￦":0}}</del>&nbsp;{{auction.bidPrice | currency:"￦":0}}</span>
                            <a ng-click="bid($event, auction)" href="javascript:void(0);" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-heart"></i> Bid</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->