<div class="container" ng-init="initView()">
    <h2 class="section-title">{{item.title}}</h2>
    <div class="row">
        <div class="col-md-4">
          <img style="width:90%;" src="/webdata/item/1481105197324-11.png" alt=""/>
        </div>
        <div class="col-md-5">
            <h3 class="no-margin-top">Description</h3>
            <p>{{item.explain}}</p>
            <h4>Specifications</h4>
            <ul class="unstyled">
                <li><strong>Brand: </strong> {{item.ItemBrandName}}</li>
                <li><strong>Type: </strong>{{item.ItemTypeName}}</li>
                <li><strong>size: </strong>{{item.size}}</li>
            </ul>

        </div>
        <!-- concept function -->
        <div class="col-md-3">
            <div class="e-price"><span>{{item.price | currency:"￦":0}}</span></div>
            <a ng-click="addCart(item.id)" href="javascript:void(0);" class="btn btn-ar btn-block btn-success"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
            <h3 class="right-line">Related Products</h3>
            <div class="ec-box">
                <div class="ec-box-header"><a href="#">[팀버랜드|부츠]프리미엄 부츠</a></div>
                <a href="#"><img src="assets/img/demo/e_img03.jpg" alt=""></a>
                <div class="ec-box-footer">
                    <span class="label label-primary">$ 249.99</span>
                    <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>