<div ng-include="'/views/layout/slide.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="ec-filters-menu">
                <h3 class="section-title no-margin-top">Filters</h3>
                <div class="col-sm-6 col-xs-6">
                    <h4>Select Category</h4>
                    <ul>
                        <li><a href="javascript:void(0);" class="filter" data-filter="all">All</a></li>
                        <li><a href="javascript:void(0);" class="filter" data-filter=".category-smartphone">Smaprtphones</a></li>
                        <li><a href="javascript:void(0);" class="filter" data-filter=".category-tv">Smart TV</a></li>
                        <li><a href="javascript:void(0);" class="filter" data-filter=".category-keyboard">Keyboards</a></li>
                        <li><a href="javascript:void(0);" class="filter" data-filter=".category-graphic">Graphics Cards</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <h4>Order by</h4>
                    <ul>
                        <li><a href="javascript:void(0);" class="sort" ng-click="orderFilter='price'">Price<i class="fa fa-sort-asc" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:void(0);" class="sort" data-sort="price:desc">Price<i class="fa fa-sort-desc" aria-hidden="true"></i></span></a></li>
                        <li><a href="javascript:void(0);" class="sort" ng-click="orderFilter='name'">Name</a></li>
                        <li><a href="javascript:void(0);" class="sort" data-sort="date:desc">Release Date</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3 class="section-title">Latest Offers</h3>
                <div class="bxslider-controls">
                     <span id="bx-prev5"></span>
                     <span id="bx-next5"></span>
                </div>
                <ul class="bxslider" id="bx5">
                  <li>
                    <a href="#" class="thumbnail">
                      <img src="assets/img/demo/wf1.jpg" alt="...">
                    </a>
                  </li>
                  <li>
                    <a href="#" class="thumbnail">
                      <img src="assets/img/demo/wf2.jpg" alt="...">
                    </a>
                  </li>
                  <li>
                    <a href="#" class="thumbnail">
                      <img src="assets/img/demo/wf3.jpg" alt="...">
                    </a>
                  </li>
                  <li>
                    <a href="#" class="thumbnail">
                      <img src="assets/img/demo/wf4.jpg" alt="...">
                    </a>
                  </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="row" id="Container">
                <div class="col-sm-4" ng-animate="'animate'}" ng-repeat="item in itemList | orderBy:orderFilter">
                    <div class="ec-box">
                        <div class="ec-box-header"><a href="#">{{item.name}}</a></div>
                        <a href="#"><img ng-src="/{{item.image}}" alt=""/></a>
                        <div class="ec-box-footer">
                            <span class="label label-primary">$ {{item.price}}</span>
                            <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->