<nav class="navbar navbar-default navbar-header-full yamm navbar-static-top" role="navigation" id="header">
    <div class="container">
        <div class="navbar-header">
            <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="#/"><span style="text-transform: uppercase;">SE S</span>hoes</a>
        </div> <!-- navbar-header -->
        <!-- Right side hamburger button -->
        <div class="pull-right" ng-click="toggleRight()">
            <a href="javascript:void(0);" class="sb-icon-navbar sb-toggle-right"><i class="fa fa-bars"></i></a>
        </div>
    </div><!-- container -->
</nav>
<md-sidenav class="md-sidenav-right" md-component-id="right" md-disable-backdrop md-whiteframe="4" ng-click="toggleRight()">
    <md-toolbar></md-toolbar>
    <md-content layout-margin>
        <div class="input-group">
        </div><!-- /input-group -->
        <h2 class="slidebar-header no-margin-bottom">메뉴</h2>
        <ul class="slidebar-menu">
            <li><a href="#/">Home</a></li>
            <li ng-click="logout()"><a href="/#/">Logout</a></li>
            <li><a href="#/item/list">상품 관리</a></li>
            <li><a href="#/auction/list">경매 관리</a></li>
            <li><a href="#/order/list">주문 관리</a></li>
            <li><a href="#/brand/list">브랜드 관리</a></li>
            <li><a href="#/type/list">항목 관리</a></li>
            <li><a href="#/user/list">회원 관리</a></li>
            <li><a href="#/">고객센터 관리</a></li><!-- 게시판 선택하게 -->
            <li><a href="#/popup/list">팝업 관리</a></li>
        </ul>
        <md-button class="md-accent">Close this Sidenav</md-button>
    </md-content>
</md-sidenav>