<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="footer-widget-title">Sitemap</h3>
                <ul class="list-unstyled three_cols">
                    <li><a href="#/">Home</a></li>
                    <li><a href="#/signin">Login</a></li>
                    <li><a href="#/signup">Registry</a></li>
                    <li><a href="#/finding">Finding</a></li>
                    <li><a href="#/item/list">Item</a></li>
                    <li><a href="#/auction/list">Auction</a></li>
                    <li><a href="/admin#/">Admin</a></li>
                </ul>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->
<footer id="footer">
    <p>&copy; 2016 <a href="#">KIM DONG MIN</a>, inc. All rights reserved.</p>
</footer>