<nav class="navbar navbar-default navbar-header-full yamm navbar-static-top" role="navigation" id="header" style="margin-bottom:30px;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="index.html"><span style="text-transform: uppercase;">SE S</span>hoes</a>
        </div> <!-- navbar-header -->
        <!-- Right side hamburger button -->
        <div class="pull-right" ng-click="toggleRight()">
            <a href="javascript:void(0);" class="sb-icon-navbar sb-toggle-right"><i class="fa fa-bars"></i></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Home</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="index.html">New Default Home <span class="label label-success pull-right">New</span></a></li>
                        <li><a href="index_old.html">Option 1: Old Home</a></li>
                        <li><a href="home_services.html">Option 2: Services</a></li>
                        <li><a href="home_full.html">Option 3: Full Intro</a></li>
                        <li><a href="home_only_full.html">Option 4: Only Full Intro</a></li>
                        <li><a href="home_news.html">Option 5: News</a></li>
                        <li><a href="home_profile.html">Option 6: Professional Profile</a></li>
                        <li><a href="home_plan.html">Option 7: Subscribe</a></li>
                        <li role="presentation" class="dropdown-header">New Home Pages 1.4</li>
                        <li><a href="home_polygon.html">Option 8: Product <span class="label label-success pull-right">New</span></a></li>
                    </ul>
                </li>
             </ul>
        </div><!-- navbar-collapse -->
    </div><!-- container -->
</nav>
<md-sidenav class="md-sidenav-right" md-component-id="right" md-disable-backdrop md-whiteframe="4" ng-click="toggleRight()">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
    </md-toolbar>
    <md-content layout-margin>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div><!-- /input-group -->
        <h2 class="slidebar-header no-margin-bottom">Navigation</h2>
        <ul class="slidebar-menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="portfolio_topbar.html">Portfolio</a></li>
            <li><a href="page_about3.html">About us</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="page_contact.html">Contact</a></li>
        </ul>
        <h2 class="slidebar-header">Social Media</h2>
        <div class="slidebar-social-icons">
            <a href="#" class="social-icon-ar rss"><i class="fa fa-rss"></i></a>
            <a href="#" class="social-icon-ar facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="social-icon-ar twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="social-icon-ar pinterest"><i class="fa fa-pinterest"></i></a>
            <a href="#" class="social-icon-ar instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="social-icon-ar wordpress"><i class="fa fa-wordpress"></i></a>
            <a href="#" class="social-icon-ar linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="social-icon-ar flickr"><i class="fa fa-flickr"></i></a>
            <a href="#" class="social-icon-ar vine"><i class="fa fa-vine"></i></a>
            <a href="#" class="social-icon-ar dribbble"><i class="fa fa-dribbble"></i></a>
        </div>
        <md-button class="md-accent">Close this Sidenav</md-button>
    </md-content>
</md-sidenav>