<nav class="navbar navbar-default navbar-header-full yamm navbar-static-top" role="navigation" id="header" style="margin-bottom:30px;">
    <div class="container">
        <div class="navbar-header">
            <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="#/"><span style="text-transform: uppercase;">SE S</span>hoes</a>
        </div> <!-- navbar-header -->
        <!-- Right side hamburger button -->
        <div class="pull-right" ng-click="toggleRight()">
            <a href="javascript:void(0);" class="sb-icon-navbar sb-toggle-right"><i class="fa fa-bars"></i></a>
        </div>
    </div><!-- container -->
</nav>
<md-sidenav class="md-sidenav-right" md-component-id="right" md-disable-backdrop md-whiteframe="4" ng-click="toggleRight()">
    <md-toolbar></md-toolbar>
    <md-content layout-margin>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div><!-- /input-group -->
        <h2 class="slidebar-header no-margin-bottom">메뉴</h2>
        <ul class="slidebar-menu">
            <li><a href="#/">Home</a></li>
            <li ng-hide="$root.session"><a href="#/signin"  ng-mouseover="sub=0">Login</a></li>
            <li ng-hide="$root.session"><a href="#/signup" ng-mouseover="sub=0">Registry</a></li>
            <li ng-show="$root.session" ng-click="logout()" ng-mouseover="sub=0"><a href="#/signin">Logout</a></li>
            <li ng-show="$root.session" ng-mouseover="sub=0"><a href="#/user/cart">장바구니</a></li>
            <li ng-show="$root.session"><a href="#/user/mypage" ng-mouseover="sub=0">Mypage</a></li>
            <li><a href="#/item/list" ng-mouseover="sub=0">상품</a></li>
            <li><a href="#/auction/list" ng-click="" ng-mouseover="sub=0">경매</a></li>
            <!-- <li><a href="javascript:void(0);" ng-click="sub=1" >고객센터</a>
                <ul>
                    <li><a href="#/notice">공지사항</a></li>
                    <li><a href="#/faq">FAQ</a></li>
                    <li><a href="#/exchange">교환환불</a></li>
                </ul>
                <li></li>
                <li></li>
            </li> -->
        </ul>
        <h2 class="slidebar-header">Social Media</h2>
        <div class="slidebar-social-icons">
            <a href="#" class="social-icon-ar rss"><i class="fa fa-rss"></i></a>
            <a href="#" class="social-icon-ar facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="social-icon-ar instagram"><i class="fa fa-instagram"></i></a>
        </div>
        <md-button class="md-accent">Close this Sidenav</md-button>
    </md-content>
</md-sidenav>