<nav class="navbar navbar-default navbar-header-full yamm navbar-static-top" role="navigation" id="header" style="margin-bottom:30px;">
    <div class="container">
        <div class="navbar-header">
            <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="#/"><span style="text-transform: uppercase;">SE S</span>hoes</a>
        </div> <!-- navbar-header -->
        <!-- Right side hamburger button -->
        <div class="pull-right" ng-click="toggleRight()">
            <a href="javascript:void(0);" class="sb-icon-navbar sb-toggle-right"><i class="fa fa-bars"></i></a>
        </div>
    </div><!-- container -->
</nav>
<md-sidenav class="md-sidenav-right" md-component-id="right" md-disable-backdrop md-whiteframe="4" ng-click="toggleRight()">
    <md-toolbar></md-toolbar>
    <md-content layout-margin>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div><!-- /input-group -->
        <h2 class="slidebar-header no-margin-bottom">메뉴</h2>
        <ul class="slidebar-menu">
            <li><a href="#/">Home</a></li>
            <li ng-hide="$root.session"><a href="#/signin">Login</a></li>
            <li ng-show="$root.session" ng-click="logout()"><a href="#/signin">Logout</a></li>
            <li ng-hide="$root.session"><a href="#/signup">Registry</a></li>
            <li><a href="#/item/list">상품</a></li>
            <li><a href="#/auction/list">경매</a></li>
            <li><a href="#/">고객센터</a></li>
        </ul>
        <h2 class="slidebar-header">Social Media</h2>
        <div class="slidebar-social-icons">
            <a href="#" class="social-icon-ar rss"><i class="fa fa-rss"></i></a>
            <a href="#" class="social-icon-ar facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="social-icon-ar twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="social-icon-ar pinterest"><i class="fa fa-pinterest"></i></a>
            <a href="#" class="social-icon-ar instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="social-icon-ar wordpress"><i class="fa fa-wordpress"></i></a>
            <a href="#" class="social-icon-ar linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="social-icon-ar flickr"><i class="fa fa-flickr"></i></a>
            <a href="#" class="social-icon-ar vine"><i class="fa fa-vine"></i></a>
            <a href="#" class="social-icon-ar dribbble"><i class="fa fa-dribbble"></i></a>
        </div>
        <md-button class="md-accent">Close this Sidenav</md-button>
    </md-content>
</md-sidenav>