<style>
.bx-wrapper img {
    margin: 0 auto;
}
</style>
<section class="css-section">
    <h2 class="section-title">Bxslider</h2>
    <div class="row">
        <ul class="bxslider" id="bx1">
            <li><img src="assets/img/demo/w1.jpg" /></li>
            <li><img src="assets/img/demo/w2.jpg" /></li>
            <li><img src="assets/img/demo/w3.jpg" /></li>
            <li><img src="assets/img/demo/w4.jpg" /></li>
        </ul>
    </div>
</section>
<script>
    $(document).ready(function(){
        $('#bx1').bxSlider({adaptiveHeight: true});
    });
    /*app.run(function() {
        angular.element(document).ready(function(){
        //document.ready 전에 일어나는걸 막는? setTimeout에 감싸야함.
        setTimeout(function(){
            angular.element('#bx1').bxSlider({});
        });
    });
    })*/
</script>