<section class="carousel-section-e">
    <div id="carousel-example-generic" class="carousel carousel-e slide" data-ride="carousel" data-interval="50000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="assets/img/demo/e-mac.png" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-7">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                   <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">iMac 27" Core i7 3,4 GHz</h1>
                                   <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle">Special Offer: 15% discount</h2>
                                   <ul class="list-unstyled carousel-list">
                                       <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-check"></i>3.4GHz quad-core Intel Core i7</li>
                                       <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-check"></i>8GB (two 4GB) memory</li>
                                       <li class="animated bounceInLeft animation-delay-15"><i class="fa fa-check"></i>1TB hard drive</li>
                                   </ul>
                                   <br>
                                   <p class="animated fadeInUpBig animation-delay-17"><span class="price-box">$1,999.00</span><a href="#" class="btn btn-ar btn-transparent btn-lg"><i class="fa fa-shopping-cart"></i> Purchase</a></p>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-7">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                   <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Macbook Pro 15" Core i5 2,6 GHz</h1>
                                   <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle">Special Offer: 15% discount</h2>
                                   <ul class="list-unstyled carousel-list">
                                       <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-check"></i>2,6GHz quad-core Intel Core i5</li>
                                       <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-check"></i>16GB (two 8GB) memory</li>
                                       <li class="animated bounceInLeft animation-delay-15"><i class="fa fa-check"></i>512 SSD hard drive</li>
                                   </ul>
                                   <br>
                                   <p class="animated fadeInUpBig animation-delay-17"><span class="price-box">$2,599.00</span><a href="#" class="btn btn-ar btn-transparent btn-lg"><i class="fa fa-shopping-cart"></i> Purchase</a></p>
                               </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="assets/img/demo/e_macbook.png" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-7">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                   <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Iphone 5C 8 GB</h1>
                                   <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle">Special Offer: 15% discount</h2>
                                   <ul class="list-unstyled carousel-list">
                                       <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-check"></i>For the colorful</li>
                                       <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-check"></i>IOS 7</li>
                                       <li class="animated bounceInLeft animation-delay-15"><i class="fa fa-check"></i>8 GB Model </li>
                                   </ul>
                                   <br>
                                   <p class="animated fadeInUpBig animation-delay-17"><span class="price-box">$2,599.00</span><a href="#" class="btn btn-ar btn-transparent btn-lg"><i class="fa fa-shopping-cart"></i> Purchase</a></p>
                               </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 hidden-xs carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="assets/img/demo/e_iphonec.png" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</section> <!-- carousel -->