<div class="container animated fadeInDown">
    <div class="row" >
        <form role="form" class="md-inline-form" ng-init ="">
            <table class="table">
                <colgroup>
                    <col style="width: 12%">
                    <col style="width: 25%">
                    <col style="width: 13%">
                    <col style="width: 25%">
                    <col style="width: 15%">
                    <col style="width: 10%">
                </colgroup>
                <tr>
                    <td nowrap>제목</td>
                    <td colspan="5" nowrap>정말 기이다아라안 제목</td>
                </tr>
                <tr>
                    <td nowrap>작성시간</td>
                    <td colspan="5" nowrap>2016.12.03 12:22:33</td>
                </tr>
                <tr>
                    <td nowrap>작성자</td>
                    <td colspan="2">홍길동</td>
                    <td nowrap>게시물 번호</td>
                    <td colspan="2">26525</td>
                </tr>
                <tr>
                    <td nowrap>첨부 파일</td>
                    <td colspan="5">
                        없음
                    </td>
                </tr>
                <tr><td colspan="6"></td></tr>
            </table>
            <div class="form-group-separator"></div>
            <div class="form-group" style="padding-left:15px;padding-right:15px;">
                <div>ㅁㅇㅁㅇㅁㅇㅇㅁㅇㅁㄴㅇㅁㅇㄴㅁㅇㅁㄴㅇㅁㅇㅁㅇㅁㅇㅁㅇㅁㅇㅁㅇㅁㅇㅁㅇ</div>
                <!-- <div ng-bind-html="boardPost.contents"></div> -->
            </div>
            <div class="form-group">
                <div class="col-md-12" style="text-align:right;">
                    <a class="btn btn-default" href="/main#/board/{{boardPost.CategoryId}}/list">목록</a>
                </div>
            </div>
        </form>
    </div>
</div>